.container {
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-gap: 30px; }
  .container > * {
    background-color: coral;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif; }
  .container .header {
    grid-column: 1 / -1; }
  .container .sidebar {
    grid-column: 4 / 5;
    grid-row: 2 / span 2; }
  .container .content {
    grid-column: 1 / 4; }
  .container .footer {
    grid-column: 1 / -1; }
